body{
    font-family:arial;
    text-align: center;
    font-size: 20px;
}

.box{
    width:200px;
    border:10px;
    padding:30px;
    margin:30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 10px;
    font-weight: bolder;
    box-align: center;
}

.box1{
    border: solid red;
    background-color: lightblue;
}
.box2{
    border:solid violet;
    background-color: yellow;
}
.box3{
    border:solid black;
    background-color: pink;
}
.box4{
    border:solid blue;
    background-color: aqua;
}